@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
    url($font-file+'.woff2') format('woff2'),
    url($font-file+'.woff') format('woff'),
    url($font-file+'.ttf') format('truetype'),
    url($font-file+'.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Van-Condensed-Pro', '../../assets/vendor/VanPro-Regular3');

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal.show {
  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown {
  list-style-type: none;
}

.dropdown .dropdown-toggle {
  cursor: pointer;
}

.red {
  color: red !important;
}

section.settings {
  min-height: calc(100vh);
}

.progress-wrapper {
  &.bg-red .progress-bar {
    background-color: #d91e18 !important;
  }
  &.bg-orange .progress-bar {
    background-color: #e67e22 !important;
  }
  &.bg-yellow .progress-bar {
    background-color: #f9bf3b !important;
  }
  &.bg-green .progress-bar {
    background-color: #2ecc71 !important;
  }
  &.bg-blue .progress-bar {
    background-color: #19b5fe !important;
  }
}

.subscribe-buttons-container {
  height: 54px;
  width: 100%;
  display: flex;
}

.object-cover {
  object-fit: cover !important;
}

.nav-link-settings {
    color: rgba($black, .7) !important;

    &:hover {
        color: rgba($black, .9) !important;
    }

    &.active {
        color: $white !important;
        background: $dark !important;
    }
}

.channel-thumb {
    &:before {
        content: '';
        float: left;
        padding-top: 100%;
    }
    .placeholder {
        width: 100%;
        height: 100%;
        background: $gray-200;
    }
}

.tile {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    .controls {
        color: $primary;
        opacity: .75;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition-base;

        &:hover {
            opacity: 1;
        }

        &.has-image {
            color: white;
        }

        &.no-hover:hover {
            opacity: .75;
        }

        .error {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .tile-button {
        z-index: 1;
        color: rgba(255,255,255,0);
        background: rgba(0,0,0,0);
        transition: $transition-base;

        &:hover {
            color: rgba(255,255,255,.85);
            background: rgba(0,0,0,.25);
        }
    }
}

.profile {
  position: absolute !important;
  width: 100%;
  height: 100%;

  .content-loader {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.nsfw-pin {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: .2rem;
  font-size: $font-size-sm;

  svg {
    position: absolute;
    fill: #f2353b;
    height: 100%;
    width: 100%;
  }

  span {
    position: absolute;
    top: 16px;
    right: 14px;
  }
}

.no-click {
  cursor: default;
  pointer-events: none;
}

.form-group {
  .input-group-prepend {
    .input-group-text {
      font-size: $font-size-xs;
      min-width: 37px;
      border-right: 0;

      &.disabled {
        background-color: $gray-200;
      }
    }
  }

    input:focus,
    textarea:focus {
      color: $input-focus-color !important;
      &::placeholder {
        color: $input-focus-placeholder-color !important;
      }
    }
}

.is-valid {
  &::placeholder {
    color: $input-placeholder-color !important;
  }
}

.is-invalid {
  color: $warning !important;
  border-color: $warning !important;
  &::placeholder {
    color: $warning !important;
  }
}

.upload-group {
  .input-group-text {
    color: $gray-600;
    background-color: $gray-200;
  }
  button {
    margin: 0 auto;
    min-width: 154px;
    border-radius: 0 .25rem .25rem 0;

    i.fas.fa-spin {
      font-size: $font-size-xs;
    }
  }

}

.ratio-1-1 {
  width: 100%;
  padding-bottom: 100%;
  .frame {
    position: absolute;
    height: 100%;
  }
}

.badge {
  &.badge-default {
    color: #FFFFFF;
    background-color: $default;
  }
}

nav.settings-nav.nested {
  .nav-link.active {
    position: relative;
    &:after {
      content: '«';
      position: absolute;
      right: 18px;
      top: 12px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .subscribe-buttons-container {
    position: absolute;
    bottom: 0;
  }
  .text-left-lg {
    text-align: left !important;
  }
  .ratio-1-1-lg {
    width: 100%;
    padding-bottom: 100%;

    .frame {
      position: absolute;
      height: 100%;

      .subframe {
        height:calc(100% - 54px);
        width:100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {

    .nav-item-circle {

      flex: unset !important;

      .nav-link {
        width: 50px;
        height: 50px;
        padding: 15px 14px !important;
        margin: 0 auto;
        border-radius: 50%;
        font-size: 1rem;

        &:after {
          display: none;
        }
      }

    }
}

@include media-breakpoint-up(lg) {
    .display-header {
      word-wrap: break-word;
    }

    $max-lines-number: 11;
    $max-block-height: #{$paragraph-line-height * $max-lines-number}em;

    .block-with-text {
      overflow: hidden;
      position: relative; 
      /* use this value to count block height */
      line-height: $paragraph-line-height;
      /* max-height = line-height (1.2) * lines max number (3) */
      max-height: $max-block-height; 
      /* fix problem when last visible word doesn't adjoin right side  */
      text-align: justify;  
      /* place for '...' */
      margin-right: -1em;
      padding-right: 1em;
      word-wrap: break-word;
    }
    .block-with-text:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .block-with-text:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em; 
      background: white;
    }
}