{
  "comments": false,
  "presets": [ 
    [ "@babel/preset-env", { "node": "8.10" } ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from"
  ]
}