@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: md-get-palette-color(red, A200),
  accent: md-get-palette-color(white, 700)
));

@import "~vue-material/dist/theme/all";

a {
  outline: 0;
}
